<div class="board" cdkDropList [cdkDropListData]="lists"
     (cdkDropListDropped)="onListDrop($event)"
     cdkDropListOrientation="horizontal">

  <div cdkDrag class="card-list mat-elevation-z1" *ngFor="let list of lists; let listIndex = index;">
    <div class="row" fxLayoutAlign="start center">
      <h2 fxFlex="80" class="mat-h2"><span [textContent]="list?.title"
                                           (input)="list.title=$event.target.textContent"></span></h2>
      <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" cdkDragHandle>
        <!-- Filter Menu Starts Here-->
        <button fxFlex="50" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="filterByDate(list.cards, -1)">
            <mat-icon>arrow_downward</mat-icon>
            <span>Sort By(Date)</span>
          </button>
          <button mat-menu-item (click)="filterByDate(list.cards, 1)">
            <mat-icon>arrow_upward</mat-icon>
            <span>Sort By(Date)</span>
          </button>
        </mat-menu>
        <button fxFlex="50" mat-icon-button aria-label="Example icon-button with a menu">
          <mat-icon>drag_handle</mat-icon>
        </button>
      </div>
    </div>
    <!-- Filter Menu Ends Here-->

    <div *ngIf="!list['collapsed']" class="card-list-content" cdkDropList [id]="list.id"
         [cdkDropListData]="list.cards"
         [cdkDropListConnectedTo]="trackIds(listIndex)"
         (cdkDropListDropped)="onCardDrop($event)">

      <app-card cdkDrag *ngFor="let card of list.cards"
                [id]=card.id
                [finished]=card.finished
                [editable]=true
                [title]="card.title"
                [description]="card.description"
                [createdAt]="card?.createdAt"
                [tags]="card.tags"
                [issueType]="card?.issueType"
                [author]="card.speaker"
                [image]="card.image"
                [linkedEpic]="card.linkedEpic"
                (edit)="addEditCard(card, list, true)"
                (delete)="deleteCard(card, list)"
      >
      </app-card>
    </div>

    <!-- footer of list -->
    <div fxLayout="row" fxLayoutAlign="baseline baseline">
      <button style="width: fit-content;" class="add-card" (click)="addEditCard(list, list)" color="primary"
              mat-raised-button>Add card
      </button>
      <span fxFlex style="text-align: right; cursor: pointer;"
            (click)="list['collapsed'] = !list['collapsed']">Click to {{ list['collapsed'] ? 'expand' : 'collapse'}}</span>
    </div>
    <!-- footer of list -->
  </div>
</div>
